#1. What are data structures, and why are they important?
-> A data structure is a way of organizing and storing data so that
 we can use it easily and efficiently.think of it like a bookshelf- it helps
 keep books arranged in a way that makes it easy to find and use.

# why are data structures important?

1. fater searching:- Like a dictionary helps find words quickly
2. Better Orgnization:- Like folders on a computer help store files neatly.
3. Efficient use of memory:- Like packing a suitcase properly saves space.

#2. Explain the difference between mutable and immutable data types with example.

#Difference betwee mutable and immutable data types.
-> in programming, mutable refer to whether data can be changed after creation
   or not.

   >> Mutable (can be change) :- data can be modified after creation.
   
   for example:- List, Dictionary, set

   >> immutable (cannot change):- data cannnot be changed after creation.
   
   for example:- Sting, Tuple, integer

In [ ]:
# Example in Python
# Mutable data types

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

# The list changed after adding 4.

[1, 2, 3, 4]

In [ ]:
# Immutable Example (String)
my_string = "Hellow"

# Strings are immutable, so we create a new string
new_string = "y" + my_string[1:]

print(my_string)  # Hellow
print(new_string)  # yellow

Hellow
yellow

#3. What are the main differences between lists and tuples in Python?
-> A list in Python is a type of collection that you can change after creating it. you can add, remove, or change items in a list. it's written with square brackets[]. A tuple is similar, but you cannot change its items once it's made. it's wirtten with round brackets (). List are more flexible but a bit slower, while tuples are faster and use less memory.

In [ ]:
# Original tuple (Immutable)
my_tuple = (1, 2, 3)

# Creating a new tuple with the modified value
new_tuple = (4,) + my_tuple[1:]  # Changing first element to 4

print("Original Tuple:", my_tuple)  # (1, 2, 3)
print("Modified Tuple:", new_tuple)  # (4, 2, 3)

Original Tuple: (1, 2, 3)
Modified Tuple: (4, 2, 3)

#4. Describe how dictionaries store data?
->> A dictionary in Python stores data in pairs. Each pair has a key and value. The key is like a label, and the value is the data you want to store. You can use the key to quickly find or change the value.

In [ ]:
my_dict = {'name': 'john', 'age': 25}
print(my_dict['name'])  # Output: john

#'name' is the key, and 'john' is the value
#'age' is the key, and 25 is the value.

john

#5. Why might you use a set instead of a list in Python?

*   A set automaticlly removes duplicates.
*   searching in a set is faster than in a list.
*   useful for operations like finding common elements between two sets.

#6. What is a string in Python, and how is it different from a list?


*   A string is a sequence of characters ("hello").
*   a string is immutable (can not be changed),
while a list (['h','e','l','l','o]) is mutable (can be changed).

#7. How do tuples ensure data integrity in Python?


*   Since tuples cannot be changed. they ensure data remains safe and unchanged, preventing accidental modifications.

#8. What is a hash table, and how does it relate to dictionaries in Python?



*   A hash table is a data structure that quickly finds and stores data using a
unique key.

*   Python dictionaries use hash tables to store key-value pairs for fast lookups.

#9. Can lists contain different data types in Python?
Yes, lists can contain different data types:

In [ ]:
my_list = [1, "hello", 3.14, True]

#10. Explain why strings are immutable in Python.


*   Strings are immutable to ensure security, performance, and memory optimization.

#11. What advantages do dictionaries offer over lists for certain tasks?

*   Faster lookups (O(1) vs O(n)).

*   Organized key-value storage.


*   Easier retrieval of data.

#12. Describe a scenario where using a tuple would be preferable over a list.


*   If you want to store constant values that should not change, like coordinates ((10, 20)).

#13. How do sets handle duplicate values in Python?


*   Sets automatically remove duplicates.

In [ ]:
my_set = {1, 2, 2, 3}  # Result: {1, 2, 3}

#14. How does the “in” keyword work differently for lists and dictionaries?



*   In lists, it checks for the presence of a value.

*   In dictionaries, it checks for the presence of a key.

#15. Can you modify the elements of a tuple? Explain why or why not.
> No, because tuples are immutable.

#16. No, because tuples are immutable.
> A dictionary inside another dictionary. Example:

In [ ]:
student = {"name": "Alice", "grades": {"math": 90, "science": 85}}

#17. Describe the time complexity of accessing elements in a dictionary.
>>O(1) (constant time) for accessing elements.

#18. In what situations are lists preferred over dictionaries?



*   When order matters.

*   When you don’t need key-value pairs.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>Dictionaries store data in hash tables, meaning order is not maintained (before Python 3.7).

#20. Explain the difference between a list and a dictionary in terms of data retrieval.



*   List: Uses index (O(n) time complexity).

*   Dictionary: Uses keys (O(1) time complexity).

#Practical Questions
#1. Wri:6 a E4d6 :4 Er6a:6 a s:ring wi:h y4ur nam6 and prin: i:P

In [ ]:
name = "Aman"
print(name)

Aman

#2. Find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

#3. Slice the first 3 characters from "Python Programming".

In [ ]:
print("Python Programming"[:3])

Pyt

#4. Convert "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

#5. Replace "apple" with "orange" in "I like apple".

In [ ]:
print("I like apple".replace("apple", "orange"))

I like orange

#6. Create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

#7. Append 10 to [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

#8. Remove 3 from [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

#9. Access the second element in ['a', 'b', 'c', 'd'].

In [ ]:
print(['a', 'b', 'c', 'd'][1])

b

#10. Reverse [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

#11. Create a tuple (100, 200, 300).

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

#11. Create a tuple (100, 200, 300).

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

#12. Access the second-to-last element of ('red', 'green', 'blue', 'yellow').

In [ ]:
print(('red', 'green', 'blue', 'yellow')[-2])

blue

#13. Find the minimum number in (10, 20, 5, 15).

In [ ]:
print(min((10, 20, 5, 15)))

5

#14. Find the index of "cat" in ('dog', 'cat', 'rabbit').

In [ ]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

#15. Check if "kiwi" is in a tuple of fruits.

In [ ]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

#16. 16. Create a set with elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

#17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

#18. Remove element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

#19. Find the union of sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#20. Find the intersection of sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

{2, 3}

#21. Create a dictionary with keys "name", "age", and "city" and print it.

In [ ]:
my_dict = {"name": "Aman", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Aman', 'age': 25, 'city': 'New York'}

#22. Add a new key-value pair "country": "USA" to {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Access the value associated with key "name" in {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])  # Output: Alice

Alice

#24. Remove key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

#25. Check if key "city" exists in {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)  # Output: True

True

#26. Create a list, a tuple, and a dictionary, and print them.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

#27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result.

In [ ]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print(random_list)

[23, 65, 71, 78, 97]

#28. Create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

#29. Combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

#30. Convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)  # Output: {'apple', 'banana', 'cherry'}

{'banana', 'cherry', 'apple'}